/*
**
** Bottom
**
*/

/* ---------- #BOTTOM ---------- */

.bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: var(--color-theme-bg);
    z-index: 1000;
}
